<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Загрузка данных</a></span><ul class="toc-item"><li><span><a href="#Вывод" data-toc-modified-id="Вывод-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#Умножение-матриц" data-toc-modified-id="Умножение-матриц-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Умножение матриц</a></span></li><li><span><a href="#Алгоритм-преобразования" data-toc-modified-id="Алгоритм-преобразования-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Алгоритм преобразования</a></span></li><li><span><a href="#Проверка-алгоритма" data-toc-modified-id="Проверка-алгоритма-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Проверка алгоритма</a></span><ul class="toc-item"><li><span><a href="#Вывод" data-toc-modified-id="Вывод-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#Чек-лист-проверки" data-toc-modified-id="Чек-лист-проверки-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Чек-лист проверки</a></span></li></ul></div>

# Защита персональных данных клиентов

## Загрузка данных

In [1]:
import pandas as pd, numpy as np #импортируем библиотеки pandas
from sklearn.model_selection import train_test_split #импортируем функцию train_test_split
from sklearn.linear_model import LinearRegression #импортируем библиотеку LinearRegression
from sklearn.metrics import r2_score #импортируем функцию r2_score

import warnings #импортируем библиотеку warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('/datasets/insurance.csv') #считаем файл с данными и сохраним в data

In [3]:
display(data.head(10)) #получим первые 10 строк таблицы
data.info() #получим общую информацию о данных в таблице
display(data.describe()) #получим также разброс значений, максимум, минимум, среднее и медиану
display("Доля пропущенных значений:", data.isna().mean()) #получим долю пропущенных значений среди всех данных

   Пол  Возраст  Зарплата  Члены семьи  Страховые выплаты
0    1     41.0   49600.0            1                  0
1    0     46.0   38000.0            1                  1
2    0     29.0   21000.0            0                  0
3    0     21.0   41700.0            2                  0
4    1     28.0   26100.0            0                  0
5    1     43.0   41000.0            2                  1
6    1     39.0   39700.0            2                  0
7    1     25.0   38600.0            4                  0
8    1     36.0   49700.0            1                  0
9    1     32.0   51700.0            1                  0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Пол                5000 non-null   int64
 1   Возраст            5000 non-null   float64
 2   Зарплата           5000 non-null   float64
 3   Члены семьи        5000 non-null   int64
 4   Страховые выплаты  5000 non-null   int64
dtypes: float64(2), int64(3)
memory usage: 195.4 KB

               Пол      Возраст      Зарплата  Члены семьи  Страховые выплаты
count  5000.000000  5000.000000   5000.000000  5000.000000        5000.000000
mean      0.499000    30.952800  39916.360000     1.194200           0.148000
std       0.500049     8.440807   9900.083569     1.091387           0.463183
min       0.000000    18.000000   5300.000000     0.000000           0.000000
25%       0.000000    24.000000  33300.000000     0.000000           0.000000
50%       0.000000    30.000000  40200.000000     1.000000           0.000000
75%       1.000000    37.000000  46600.000000     2.000000           0.000000
max       1.000000    65.000000  79000.000000     6.000000           5.000000

'Доля пропущенных значений:'

Пол                  0.0
Возраст              0.0
Зарплата             0.0
Члены семьи          0.0
Страховые выплаты    0.0
dtype: float64

Переименуем столбцы 'Пол', 'Возраст', 'Зарплата', 'Члены семьи', 'Страховые выплаты' в 'gender', 'age', 'salary', 'family', 'payments'.

In [4]:
data.columns = [['gender', 'age', 'salary', 'family', 'payments']]
data

     gender   age   salary family payments
0         1  41.0  49600.0      1        0
1         0  46.0  38000.0      1        1
2         0  29.0  21000.0      0        0
3         0  21.0  41700.0      2        0
4         1  28.0  26100.0      0        0
...     ...   ...      ...    ...      ...
4995      0  28.0  35700.0      2        0
4996      0  34.0  52400.0      1        0
4997      0  20.0  33900.0      2        0
4998      1  22.0  32700.0      3        0
4999      1  28.0  40600.0      1        0

[5000 rows x 5 columns]

Так как десятичная часть в столбцах 'age' и 'salary' содержит 0, заменим тип float64 на int64.

In [5]:
data['age'] = data['age'].astype('int') #заменим тип float64 на int64 для уменьшения потребления памяти
data['salary'] = data['salary'].astype('int') #заменим тип float64 на int64 для уменьшения потребления памяти
data

     gender age salary family payments
0         1  41  49600      1        0
1         0  46  38000      1        1
2         0  29  21000      0        0
3         0  21  41700      2        0
4         1  28  26100      0        0
...     ...  ..    ...    ...      ...
4995      0  28  35700      2        0
4996      0  34  52400      1        0
4997      0  20  33900      2        0
4998      1  22  32700      3        0
4999      1  28  40600      1        0

[5000 rows x 5 columns]

### Вывод

В таблице data 5 столбцов. Типы данных в столбцах — int64, float64.
В названии колонок присутствует нарушение стиля.
Пропущенных значений нет.

Изменили наименования столбцов и привели к типу int64.

## Умножение матриц

Формулы линейной регрессии.

Обозначения:

- $X$ — матрица признаков (нулевой столбец состоит из единиц)

- $y$ — вектор целевого признака

- $P$ — матрица, на которую умножаются признаки

- $w$ — вектор весов линейной регрессии (нулевой элемент равен сдвигу)

Предсказания:

$$
a = Xw
$$

Задача обучения:

$$
w = \arg\min_w MSE(Xw, y)
$$

Формула обучения:

$$
w = (X^T X)^{-1} X^T y
$$

**Ответ:** Не изменится

**Обоснование:** 
$$
X = XP
$$

$$
a = XP((XP)^TXP)^{-1}(XP)^Ty =>
$$

$$
a = XP(P^TX^TXP)^{-1}P^TX^Ty =>
$$

$$
a = XPP^{-1}(X^TX)^{-1}(P^T)^{-1}P^TX^Ty =>
$$
Так как
$$
(P^T)^{-1}P^T = E, PP^{-1} = E, (X^TX)^{-1}X^Ty = w,
$$
то при подстановке, получается:

$$
a = XEwE =>
$$

$$
a = Xw
$$

## Алгоритм преобразования

**Алгоритм**

1. выделим признаки и целевой признак, разделим выборку на обучающую и валидационную
2. обучим модель линейной регрессии на нешифрованных данных
3. посчитаем r2
4. определим случайную обратимую матрицу
5. умножим признаки на случайную матрицу
6. обучим модель линейной регрессии на шифрованных данных
7. посчитаем r2
8. сравним метрики r2 до и после преобразования.

**Обоснование**

Исходя из того, что признаки X умножаются на обратимую матрицу P, примем X=XP и подставим в формулу обучения.

$$
X = XP
$$

$$
a = XP((XP)^TXP)^{-1}(XP)^Ty =>
$$

По свойству транспонирования $$(XP)^T = P^TX^T$$

$$
a = XP(P^TX^TXP)^{-1}P^TX^Ty =>
$$

По свойству обратимости произведения двух матриц $$(P^TX^TXP)^{-1} = P^{-1}(X^TX)^{-1}(P^T)^{-1}$$

$$
a = XPP^{-1}(X^TX)^{-1}(P^T)^{-1}P^TX^Ty =>
$$

Уберем из уравнения
$$(P^T)^{-1}P^T = E,$$
$$PP^{-1} = E,$$
так как эти произведения представляют собой единичные матрицы.

По условию
$$(X^TX)^{-1}X^Ty = w$$

следовательно, предсказания при умножении матрицы признаков на обратимую матрицу не меняются.

$$
a = Xw
$$

## Проверка алгоритма

Создадим переменные с целевым и остальными признаками и разделим датафрейм на обучающую и валидационную выборки в соотношении 75:25%.

In [6]:
features = data.drop('payments', axis = 1) #запишем признаки в features
target = data['payments'] #запишем целевые признаки в target

In [7]:
features_train, features_valid, target_train, target_valid = train_test_split(features, target, test_size=0.25, random_state=12345) #разделим данные на features_train и features_valid в соотношении 75 на 25

Обучим модель линейной регрессии до преобразования, рассчитаем r2_score.

In [8]:
model_lr = LinearRegression()
model_lr.fit(features_train, target_train) #обучим модель
predictions_valid = model_lr.predict(features_valid) #получим предсказания модели
r2_scorer = r2_score(target_valid, predictions_valid) #вычислим итоговую r2_score

print('Лучшее значение метрики r2_score для модели линейной регрессии:', r2_scorer)

Лучшее значение метрики r2_score для модели линейной регрессии: 0.4352275684083322

Определим случайную обратимую матрицу.

In [9]:
invertible_matrix = np.random.normal(size=(features.shape[1], features.shape[1]))

In [14]:
detM = round(np.linalg.det(invertible_matrix))
if(detM != 0):
    print(detM, "Да")
else:
    print(detM, "Нет")

3 Да

Напишем функцию, умножающую признаки на обратимую матрицу.

In [11]:
def matrix_multiplication(features):
    return features.values @ invertible_matrix

Применим функцию умножения на матрицу к признакам обучающей и валидационной выборок.

In [12]:
features_train_m = matrix_multiplication(features_train)
features_valid_m = matrix_multiplication(features_valid)

Обучим модель линейной регрессии после преобразования, рассчитаем r2_score.

In [13]:
model_lr = LinearRegression()
model_lr.fit(features_train_m, target_train) #обучим модель
predictions_valid_m = model_lr.predict(features_valid_m) #получим предсказания модели
r2_scorer = r2_score(target_valid, predictions_valid_m) #вычислим итоговую r2_score

print('Лучшее значение метрики r2_score для модели линейной регрессии:', r2_scorer)

Лучшее значение метрики r2_score для модели линейной регрессии: 0.4352275684084652

### Вывод

Таким образом, получили, что метрики r2 рпактически одинаковые. Это значит, что предсказания при умножении матрицы признаков на обратимую матрицу не меняются.

## Чек-лист проверки

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  Jupyter Notebook открыт
- [x]  Весь код выполняется без ошибок
- [x]  Ячейки с кодом расположены в порядке исполнения
- [x]  Выполнен шаг 1: данные загружены
- [x]  Выполнен шаг 2: получен ответ на вопрос об умножении матриц
    - [x]  Указан правильный вариант ответа
    - [x]  Вариант обоснован
- [x]  Выполнен шаг 3: предложен алгоритм преобразования
    - [x]  Алгоритм описан
    - [x]  Алгоритм обоснован
- [x]  Выполнен шаг 4: алгоритм проверен
    - [x]  Алгоритм реализован
    - [x]  Проведено сравнение качества моделей до и после преобразования